<div class="row mb-5">
  <div class="col-md-6 mb-5" *ngFor="let item of itemList;">
    <app-product-item [item]="item" (addProductEvent)="addIntoCart($event)"></app-product-item>
  </div>
</div>
<nav aria-label="Page nav" class="d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" aria-label="Previous" (click)="showAnotherPage(nowPage-1)">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let item of allList;let i = index">
      <a class="page-link" (click)="showAnotherPage((i/4)+1)" *ngIf="(i%4) == 0">{{ (i/4)+1 }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" aria-label="Next" (click)="showAnotherPage(nowPage+1)">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
