
<div class="modal-body">
  <div class="col-md-2" style="margin:0px auto;">
    <form [formGroup]="checkoutForm" (ngSubmit)="updateP(checkoutForm.value)" enctype="multipart/form-data">
      <div class="form-group">
        <div class="input-group">
          <div class="form-group">
            <label for="product-name">Product Name</label>
            <input class="form-control" formControlName="name" required>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" formControlName="price" type="number" min="1" required>
          </div>
          <div class="form-group">
            <label for="tags">Tags:</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tags" id="today" value="today"
                formControlName="tags">
              <label class="form-check-label" for="Today">Today</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tags" id="hot" value="hot"
                formControlName="tags">
              <label class="form-check-label" for="Hot">Hot</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="tags" id="new" value="new"
                formControlName="tags">
              <label class="form-check-label" for="New">New</label>
            </div>
          </div>
          <div class="form-group">
            <label for="Quantity">Quantity</label>
            <input class="form-control" type="number" formControlName="quantity" min="1">
          </div>
          <!--
          <app-file-uploader (pictureEvent)="setPicture($event)"></app-file-uploader>
           <div class="form-group">
        <label for="Picture">uplaod picture</label>
        <input class="form-control" formControlName="picture" type="file" id="file" name="file">

        <label for="Picture">Picture</label>
        <input class="form-control" formControlName="picture">
      </div>-->
          <button class="btn btn-lg btn-block" style="background: #ffe180; border-color: #ffe180;">
            <h1 class="h4 text-center btn-green-text">確認</h1>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


