<section class="py-4 bg-primary">
  <div class="container">
      <div class="row justify-content-center ">
          <div class="col-md-5 d-flex align-items-center justify-content-center justify-content-md-start mb-md-0 mb-3"
              style="color: white;">
              <img src="{{ imageUrl }}/logo-light.svg" width="40" height="40" alt="">
              <span class="h4 ml-3">訂閱你我的甜蜜郵件</span>
          </div>
          <div class="col-md-5 justify-content-center d-flex">
              <form class="form-inline flex-fill my-2 my-lg-0">
                  <input class="form-control flex-fill py-3 mr-0" type="search" placeholder="Email"
                      aria-label="Search" style="height: 64px;">
                  <button class="btn btn-yellow btn-lg d-flex align-items-center" style="height: 64px;">
                      <i class="material-icons">
                          arrow_forward
                      </i>
                  </button>
              </form>
          </div>
      </div>
  </div>

</section>

<footer class="bg-primary-lighter py-4">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-5 d-flex flex-column justify-content-between">
              <div> <img class="mb-5" src="{{ imageUrl }}/logotype-sm-dark.svg" height="27" alt=""> </div>
              <ul class="list-unstyled mt-5 ">
                  <li>07-1234-5678</li>
                  <li><a href="#">sweetaste@email.com</a></li>
                  <li>800 高雄市新興區幸福路 520 號</li>
              </ul>
          </div>
          <div class="col-md-5 text-right d-none d-md-block">
              <img src="{{ imageUrl }}/sm-今天是個吃甜點的好日子.svg" width="60" alt="">
          </div>
      </div>
      <div class="row justify-content-center mt-3">
          <div class="col-md-5">
              <img src="{{ imageUrl }}/ic-line@.svg" height="32" width="32" alt="">
              <img src="{{ imageUrl }}/ic-facebook.svg" height="32" width="32" alt="">
          </div>
          <div class="col-md-5 text-md-right mt-2">
              © 2018 Sweetaste* All Rights Reserved
          </div>
      </div>
  </div>
</footer>
