<div class="row">
  <div class="col-lg-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col-lg-4 d-none d-lg-block text-primary-light">
    <div class="card mb-3">
      <div class="card-header text-center bg-primary-lighter">
        <div class="h3">訂單摘要</div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
          <span>小計</span>
          <span>{{total | currency: 'TWD'}}</span>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <span>運費</span>
          <span>{{shipping | currency: 'TWD'}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span class="h4">總計</span>
          <strong class="h4">{{(total + shipping) | currency: 'TWD'}}</strong>
        </div>
      </div>
    </div>
    <div class="card border-primary-lighter">
      <app-checkout-view></app-checkout-view>
    </div>
  </div>
